.sum_cont_banner{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/fondo01.png);
}
.sum_sombra{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   /* -ms-transform: translate(-40%, -20%);
    -webkit-transform: translate(-40%, -20%);*/
    padding: 20px;
    width: 80%;
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    margin: auto;
}