.banner-principal-logo {
    left: 50%;
    top: 50%;
    padding: 20px;
    width: 100%;
    text-align: center;
    background-color: #BCB4C1;
    color: #fff;
    margin: auto;
    font-weight: bolder;
    display: block;
}

.contenedor-logo {
    left: 50%;
    top: 50%;
    width: 80%;
    text-align: center;
    margin: auto;
}

.banner-principal-logo h1 {
    font-size: 4vw;
    margin: 20px;
}

.banner-principal-logo p {
    font-size: 4vw;
    margin-bottom: 10px;
}

.banner-principal-contenedor-links {
    margin: 15px;
    position: relative;
}

.banner-principal-contenedor-links a {
    position: relative;
    color: #7C6B84;
    text-decoration: none;
    border: 1px solid #7C6B84;
    padding: 1px;
    margin-bottom: 5px;
    width: 180px;
    display: inline-block;
}

.banner-principal-contenedor-links a:hover {
    background-color: #7C6B84;
    color: #E1BAC7;
}

.sbanner-principal-links1 {
    opacity: 0;
    animation: sum_keyframes_aparecer_de_arriba 1s;
    -webkit-animation: sum_keyframes_aparecer_de_arriba 1s;
    animation-fill-mode: forwards;
}

.banner-principal-links2 {
    opacity: 0;
    animation: sum_keyframes_aparecer_de_arriba 1s;
    -webkit-animation: sum_keyframes_aparecer_de_arriba 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.banner-principal-links3 {
    opacity: 0;
    animation: sum_keyframes_aparecer_de_arriba 1s;
    -webkit-animation: sum_keyframes_aparecer_de_arriba 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}