* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif', serif;
}

h1 {
    font-family: 'Caveat', serif;    
}

.corazon {
    color: #DE7586;
}

.pie {
    background-color: #7C6B84;
    color: #fff;
    flex-direction: column;
  }

#botonera-principal {
    float: right;
    flex-direction: column;
    width: 100%;
    height: auto;
    display: block;
    padding-inline-end: 10%;
}

#botonera-principal .navbar-nav {
    flex-direction: row;
    width: auto;
}

#botonera-principal ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

#botonera-principal ul li {
    display: inline;
}

#botonera-principal ul li a {
    display: inline-block;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

/*Algunos efectitos para los botones*/

#botonera-principal ul li a:hover {
    color: #fff;
    background-color: #BCB4C1;
}

#botonera-principal ul li a:active {
    color: #DE7586;
}

.redes-header {
    text-align: right;
    background-color: #7C6B84;
    padding: 10px;
    padding-inline-end: 10%;
  }
  
  .redes-header a {
    color: #fff;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
  }

